{% extends 'app/base.html' %}
{% load static i18n crispy_forms_tags %}
{% block title %}{{object}}: {{app_settings.site_title}}{% endblock %}

{% block content %}

<div class="side-app main-container detail_page">

  <div class="row mt-3">
    <div class="col-md-6">
      <div class="thumb ">
        <form method="post" enctype="multipart/form-data" id="image_update_form">
          {% csrf_token %}

          {% if current_employee.photo %}
          <div class="avatar-xxl mx-auto" id="avatar_update"
            style="position:relative; background-image:url({{current_employee.photo.url|default:default_user_avatar}})">
            {{image_form.photo}}
            <label for="id_photo" class="btn btn-sm">
              Change
            </label>
          </div>
          {% else %}
          <div class="avatar-xxl mx-auto" id="avatar_update"
            style="position:relative; background-image:url({{default_user_avatar}})">
            {{image_form.photo}}
            <label for="id_photo" class="btn btn-sm">
              Change
            </label>
          </div>
          {% endif %}


        </form>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">
      {% if object %}
      <div class="card content_card">
        <div class="card-header">
          <div class="card-title d-flex align-items-center w-100">
            <h5 class="mb-0">{{object}}</h5>
          </div>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-hover info_table mb-0" style="width:100%;">
              <tbody>
                {% for name, value in object.get_fields|slice:"5:" %}
                {% if value %}
                <tr>
                  <td> {{name}} </td>
                  <td> {{ value }} </td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

      </div>
      {% else %}
      <div class="card content_card">
        <div class="card-body">
          <p class="text-center">There is nothing here</p>
        </div>
      </div>
      {% endif %}
    </div>

  </div>
  <!-- End Row-->

</div>

{% endblock content %}

{% block javascript %}

{% endblock javascript %}
